@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Mosk;
    font-weight: 100;
    src: url(assets/fonts/Mosk-Thin-100.ttf);
  }
  @font-face {
    font-family: Mosk;
    font-weight: 200;
    src: url(assets/fonts/Mosk-Extra-Light-200.ttf);
  }
  @font-face {
    font-family: Mosk;
    font-weight: 300;
    src: url(assets/fonts/Mosk-Light-300.ttf);
  }
  @font-face {
    font-family: Mosk;
    font-weight: 400;
    src: url(assets/fonts/Mosk-Normal-400.ttf);
  }
  @font-face {
    font-family: Mosk;
    font-weight: 500;
    src: url(assets/fonts/Mosk-Medium-500.ttf);
  }
  @font-face {
    font-family: Mosk;
    font-weight: 600;
    src: url(assets/fonts/Mosk-Semi-Bold-600.ttf);
  }
  @font-face {
    font-family: Mosk;
    font-weight: 700;
    src: url(assets/fonts/Mosk-Bold-700.ttf);
  }
  @font-face {
    font-family: Mosk;
    font-weight: 800;
    src: url(assets/fonts/Mosk-Extra-Bold-800.ttf);
  }
  @font-face {
    font-family: Mosk;
    font-weight: 900;
    src: url(assets/fonts/Mosk-Ultra-Bold-900.ttf);
  }

  .glassmorphism {
    /* From https://css.glass */
    background: rgba(165, 180, 252, 0.34);
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px);
    border: 1px solid rgba(165, 180, 252, 0.43);
  }
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  ,
  .animation-delay-4000 {
    animation-delay: 4s;
  }
  .calculator {
    @apply bg-black sm:col-span-2 row-span-2 p-8 sm:p-14 lg:p-8 xl:p-14 text-white;
  }
  .result {
    @apply bg-slate-100 lg:col-span-2 xl:col-span-1 px-14 flex flex-col justify-center row-span-2;
  }
}
